 <IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # EXCLUIR EL TRÁFICO A LA API PARA QUE PASE AL PROXY
  RewriteCond %{REQUEST_URI} !^/api/ [NC]
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Si no es un archivo, ni carpeta, NI es una ruta de /api/, lo manda a index.html
  RewriteCond %{REQUEST_URI} !^/api/ [NC]
  RewriteRule . /index.html [L]
</IfModule>